@import "tailwindcss";

@theme {
  --font-space-mono: 'Space Mono', monospace;

  --color-neon-purple: #9945ff;
  --color-neon-purple-dim: #7a33cc;
  --color-neon-teal: #00ffa3;
  --color-neon-teal-dim: #00cc82;

  --color-step-bg: #4a4360;
  --color-surface: #0d0d0d;
  --color-surface-raised: #111111;
  --color-border: #1f1f1f;
  --color-text: #f0f0f0;
  
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #111111;
  color: rgba(255, 255, 255, 0.87);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

/* Scrollbar */

.scrollbar-teal::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-teal::-webkit-scrollbar-track {
  background: #ffffff00;
}

.scrollbar-teal::-webkit-scrollbar-thumb {
  background: #00ffa3;
  border-radius: 999px;
}

.scrollbar-teal::-webkit-scrollbar-thumb:hover {
  background: #00cc82;
  cursor: pointer;
}

/* Slider */

.slider {
  -webkit-appearance: none;
  appearance: none;
}

.slider::-webkit-slider-runnable-track {
  height: 3px;
  border-radius: 999px;
  background: #ffffff5b;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 6px;
  height: 14px;
  margin-top: -6px;
  border-radius: 0;
  background: #00ffa3;
  cursor: pointer;
}

.slider::-moz-range-track {
  height: 3px;
  border-radius: 999px;
  background: #00ffa3;
}

/* Rechart */

.recharts-wrapper:focus,
.recharts-wrapper:focus-visible,
.recharts-surface:focus,
.recharts-surface:focus-visible {
    outline: none !important;
}